/* IDENTIFICAR NOME DO ARQUIVO, EM COMENTÁRIO, ANTES DO CÓDIGO CSS RESPECTIVO */

/* CSS PARA TODOS OS ARQUIVOS */
#navbar {padding: 0%;} /*Navbars fixados às laterais*/
input:required:invalid{color: lightcoral;} /*Cor para input escrito de forma inválida segundo 'pattern' definido*/
input:required:valid{color: rgb(115, 190, 115);}

/* ARQUIVO MODELO.HTML */
